body {
    font-family: Arial, sans-serif;
    background-color: #333; /* Dark gray background */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    color: white; /* White text color */
}

.map {
    display: grid;
    grid-template-columns: repeat(21, 20px); /* Adjusted column width with spacing */
    grid-template-rows: repeat(21, 20px); /* Adjusted row height with spacing */
    gap: 5px; /* Spacing between squares */
    margin-top: 20px;
    background-color: #bbb; /* Light gray background */
    border: 1px solid #000; /* Black border */
}

.room {
    background-color: #eee; /* Light gray background */
    border: 2px solid #000; /* Black 2px border */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Make rooms 100% of their parent container's height */
    width: 100%; /* Make rooms 100% of their parent container's width */
    margin: -2px; /* Adjust for the border size */
}

.room:not(:last-child) {
    background-color: #333; /* Same color as page background between rooms */
}
